@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  background-color: #d6d6d6;
  height: 100dvh; /* for mobile compatibility */
  width: 100dvw;
}

* {
  box-sizing: border-box; /* takes padding and margins into account; no scrollbars*/
}



/*--------------------*/
/*       UI-BAR       */
/*--------------------*/
/* N.B. the ui bar is removed in script.js */
#ui-bar {
  background-color: #007dc5;
  display: none;
}

#ui-dialog-title {
  margin-left: 10%;
  padding: .5em 3.5em .2em 0em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  display:none;
}

#ui-dialog-body {
  background-color: #d6d6d6;
  font-family: 'EB Garamond', 'Newsreader', 'Crimson Text', serif;
  font-size: 1.2em;
  display:none;
}

 #ui-dialog-titlebar {
  font-family: 'Vollkorn SC', 'Crimson Text', serif;  
  padding: .2em 3.5em .2em 7em;
  display:none;
}

#sidebar {
  color: #d6d6d6;
  display: none;
}

ul {
  list-style: none;
  text-align: center;
  margin: 0 !important;
}

h1#story-title {
  color: #d6d6d6;
  font-family: serif;
  text-transform: uppercase;
  /* letter-spacing: 2px;
  font-size: 300%;
  line-height: 80%;
  padding-top: 10%; */
}

#story-subtitle {
  color: #d6d6d6;
  font-family: 'Vollkorn SC', serif;
}

.special_subtitle {
 font-family: 'TYPEWRITER', serif; 
 font-size: 100%
}

#story-caption {
  font-family: 'Vollkorn SC', serif;
}

#story-author {
  color: #d6d6d6;
  font-family: 'Vollkorn SC', serif;
}



/*--------------------*/
/*        menu        */
/*--------------------*/

/*
a.link-internal{
  color: #007dc5;
}

a.link-internal:hover{
  color: #c60c46;
}

#menu #menu-story, #dialog{
  border: 0;
}

#menu-story li {
  border-top: 1px solid #444;
  margin-bottom: 1em;
  border-bottom: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

#menu #menu-core {
  margin-top: 1em;
}
*/


/*--------------------*/
/*      PASSAGE       */
/*--------------------*/
#story {
  margin: 0;
  width: 100%;
  height: 100%;
}

#passages {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: none; /* this is important */
}

.passage {
  width: 100%; /* not sure why this doesn't inherit from #passages */
  height: 100%;
  font-size: 2em;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #202024;
  line-height: 1.5em;
}

h1 {
  font-size: 1.2em;
  font-weight: 200;
}

h2 {
  font-size: 1.1em;
  font-weight: 200;

}
b, strong {
  font-weight: normal;
  font-style: italic;
}

i {
  font-style: italic;
  color: #d6d6d6;
}

.passage a.link-internal {
  color: #007dc5;
  font-weight: none;
}

.passage a.link-internal:hover {
  color: #c60c46;
  text-decoration: none;
}



/*--------------------*/
/*      TOOLTIPS      */
/*--------------------*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.macro-cycle::before {
	content: "\e826\00a0";
	font-family: tme-fa-icons;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}



/*--------------------*/
/*        test        */
/*--------------------*/


/*
myriad pro and sans serif font family:

font-family: 'Myriad-Pro', 'Arial', sans-serif;
*/


/*
css above, html below (can put directly into twee file)

.aliens:hover {
  opacity: 0;
  transition: 1s all ease;
 }

<br>
There is a spooky UFO in the sky.
<br>
<div class="aliens">When you look at it, it disappears.</div>
<br>
But you're sure it's there.
*/

/*
@media(min-width:750px) {
  .W\(30\%\)--sm {
    width: 30%;
  }
}
*/

.container {
  /* Center child */
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: column;*/
  height: 100%;
}

.boxnvl {
  margin: auto;
  width: 70dvw;
  height: 70dvh;
  padding: 2em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}






