@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  background-color: #d6d6d6;
  height: 100dvh; /* dvh and dvw for mobile compatibility */
  width: 100dvw;
  /*
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==')
  */
}

* {
  box-sizing: border-box; /* takes padding and margins into account; no scrollbars*/
}



/*--------------------*/
/*       UI-BAR       */
/*--------------------*/
#ui-bar { /* the actual sidebar */
  background-color: #00539b;
  /* background: #0071b3; */
  border-right: none;
}

/* history buttons */
#ui-bar-history [id|=history], #ui-bar-toggle {
  border: none;
}

#ui-bar-history [id|=history]:hover {
  background-color: #003e74;
}

#ui-bar-history [id|=history]:active {
  color: #202024;
  background: #FFB400;
}

#ui-bar-history [id|=history]:disabled {
  opacity: 0.3;
  background-color: transparent !important;
  color: #fff !important;
}


/* sidebar button */
#ui-bar-toggle:hover {
  background-color: #003e74;
}

#ui-bar-toggle:active {
  color: #202024;
  background: #FFB400;
}

#ui-bar.stowed #ui-bar-toggle {
  padding-right: 0.45em;
}

button {
  border: none;
}

/* dialog */
#ui-dialog-title {
  margin-left: 10%;
  padding: .5em 3.5em .2em 0em;
  font-size: 1.7em;
  text-align: center;
  text-transform: uppercase;
}

#ui-dialog-body { /* dialog popup menu (e.g. saves, restart) */
  background-color: #dedede;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #202024;
  font-size: 1.2em;
}

#ui-dialog-titlebar {
  background-color: #00539b;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  padding: .2em 3.5em .2em 7em;
}

#sidebar {
  color: #d6d6d6;
  margin: 0 !important;
}

/* story title */

ul {
  list-style: none;
  text-align: center;
  margin: 0 !important;
}

h1#story-title {
  color: #ffffff;
  /* font-family: 'PT Serif', georgia, serif; */
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5em;
  font-size: 2em;
  /* letter-spacing: 2px;
  font-size: 300%;
  line-height: 80%;
  padding-top: 10%;
  font-weight: 200;*/
}

#story-subtitle {
  color: #d6d6d6;
  font-family: 'Vollkorn SC', serif;
}

.special_subtitle {
 font-family: 'TYPEWRITER', serif; 
 font-size: 100%;
}

#story-caption {
  font-family: 'Vollkorn SC', serif;
}

#story-author {
  color: #d6d6d6;
  font-family: 'Vollkorn SC', serif;
}



/*--------------------*/
/*        menu        */
/*--------------------*/

a.link-internal{
  color: #007dc5;
}

a.link-internal:hover{
  color: #c60c46;
}

#menu #menu-story, #dialog{
  border: 0;
}

#menu-story li {
  margin-bottom: 1em;
  /*
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  */
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  /* background-color: #0071b3; */
  /* background-color: #00539b; */
}

#menu li:not(:first-child) {
  border-top: none;
}

#menu li a {
  border:none;
  padding-top: 0.3em;
  padding-right: 0.75em;
  padding-bottom: 0.3em;
  padding-left: 0.75em;
  font-weight: bold;
  text-transform: none;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: #fff;
}

#menu li a:hover {
  /* background-color: #005586; */
  background-color: #003e74;
}

#menu li a:active {
  color: #202024;
  background: #FFB400;
}



#menu #menu-core {
  margin-top: 1em;
  display: none; /* remove default menu items */
}

/*
not sure why this doesn't work

#menu-story li a:disabled {
	color: #444;
	background-color: transparent;
	border-color: #444;
}

#menu li a:disabled {
	color: #444;
	background-color: transparent;
	border-color: #444;
}
*/

/* apply deactivated look to all disabled hyperlinks*/
a:disabled,
a[disabled]{
  opacity: 0.3;
  background-color: transparent !important;
  color: #fff !important;
  /*
	color: #444 !important;
	border-color: #444 !important;
  */
}



/*--------------------*/
/*      PASSAGE       */
/*--------------------*/

#story {
  margin: 0 !important; /* override margin in ui-bar.css (built-in) */
  width: calc(100% - 2em); /* take sidebar into account */
  height: 100%;
  left: 2em;

  /* background will fill without stretching */
  /* -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important; */
  background-size: cover !important;

  /* Center children (i.e. #passages) */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: -3em; position slightly higher than centre (conflicts with background) */
}


#passages {
  /* use nvl textbox as default for passages */
  max-width: none; /* this is important */
  margin: auto;
  width: 75%;
  height: 75%; /* ideally I would like max(75%, auto) but it doesn't work... */
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.passage {
  font-size: 1.5em;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: 1.5em;
}

/* responsive for smaller laptop or mobile screens*/
/* >1080p */
@media screen and (min-width: 1921px) {
  .passage {font-size: 2em;}
}
/* small laptop (1366 × 768) - desktop (1920 x 1080) */
@media screen and (max-width: 1366px) {
  #passages {height: auto;max-height: none;}
  .passage {font-size: 1.2em;}
}
/* mobile */
@media screen and (max-width: 425px) {
  #passages {height: auto;max-height: none;width: 100%;}
  .passage {font-size: 1em;}
}
 /* when screen height too small */
@media screen and (max-height: 600px) {
  .passage {font-size: 1em;}
}

h1 {
  font-size: 1.2em;
  font-weight: 200;
}

h2 {
  font-size: 1.1em;
  font-weight: 200;

}
b, strong {
  font-weight: normal;
  font-style: italic;
}

i {
  font-style: italic;
  color: #d6d6d6;
}

.passage a.link-internal {
  color: #007dc5;
  font-weight: none;
}

.passage a.link-internal:hover {
  color: #c60c46;
  text-decoration: none;
}



/*--------------------*/
/*      TOOLTIPS      */
/*--------------------*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.macro-cycle::before {
	content: "\e826\00a0";
	font-family: tme-fa-icons;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}



/*--------------------*/
/*        test        */
/*--------------------*/


/*
myriad pro and sans serif font family:

font-family: 'Myriad-Pro', 'Arial', sans-serif;
*/


/*
css above, html below (can put directly into twee file)

.aliens:hover {
  opacity: 0;
  transition: 1s all ease;
 }

<br>
There is a spooky UFO in the sky.
<br>
<div class="aliens">When you look at it, it disappears.</div>
<br>
But you're sure it's there.
*/

/*
@media(min-width:750px) {
  .W\(30\%\)--sm {
    width: 30%;
  }
}
*/

/* could have different colours for text type */
.textinfo {
  color: #509e9f;
}
.textgood {
  color: #76bf77;
}
.textbad {
  color: #db3f42;
}
.textimportant {
  color: #c44986;
}

/* alternatively could have different colours depending on who is speaking */
.speakerA1 {
  color: #BF76BE;
  font-weight: bold;
}
.speakerA2 {
  color: #769ABF;
  font-weight: bold;
}
.speakerA3 {
  color: #76BF77;
  font-weight: bold;
}
.speakerA4 {
  color: #BF9B76;
  font-weight: bold;
}

