@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  background-color: #d6d6d6;
  height: 100dvh; /* dvh and dvw for mobile compatibility */
  width: 100dvw;
}

* {
  box-sizing: border-box; /* takes padding and margins into account; no scrollbars*/
}



/*--------------------*/
/*       UI-BAR       */
/*--------------------*/
#ui-bar {
  background-color: #007dc5;
}

#ui-dialog-title {
  margin-left: 10%;
  padding: .5em 3.5em .2em 0em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

#ui-dialog-body {
  background-color: #d6d6d6;
  font-family: 'EB Garamond', 'Newsreader', 'Crimson Text', serif;
  font-size: 1.2em;
}

#ui-dialog-titlebar {
  font-family: 'Vollkorn SC', 'Crimson Text', serif;  
  padding: .2em 3.5em .2em 7em;
}

#sidebar {
  color: #d6d6d6;
  margin: 0 !important;
}

ul {
  list-style: none;
  text-align: center;
  margin: 0 !important;
}

h1#story-title {
  color: #d6d6d6;
  font-family: serif;
  text-transform: uppercase;
  /* letter-spacing: 2px;
  font-size: 300%;
  line-height: 80%;
  padding-top: 10%; */
}

#story-subtitle {
  color: #d6d6d6;
  font-family: 'Vollkorn SC', serif;
}

.special_subtitle {
 font-family: 'TYPEWRITER', serif; 
 font-size: 100%
}

#story-caption {
  font-family: 'Vollkorn SC', serif;
}

#story-author {
  color: #d6d6d6;
  font-family: 'Vollkorn SC', serif;
}



/*--------------------*/
/*        menu        */
/*--------------------*/

/*
a.link-internal{
  color: #007dc5;
}

a.link-internal:hover{
  color: #c60c46;
}

#menu #menu-story, #dialog{
  border: 0;
}

#menu-story li {
  border-top: 1px solid #444;
  margin-bottom: 1em;
  border-bottom: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

#menu #menu-core {
  margin-top: 1em;
}
*/


/*--------------------*/
/*      PASSAGE       */
/*--------------------*/
#story {
  margin: 0 !important; /* override margin in ui-bar.css (built-in) */
  width: 100%;
  height: 100%;

  /* Center children (i.e. #passages) */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -3em; /* position slightly higher than centre */
}

#passages {
  /* use nvl textbox as default for passages */
  max-width: none; /* this is important */
  margin: auto;
  width: 75%;
  height: 75%; /* ideally I would like max(75%, auto) but it doesn't work... */
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

/* responsive for smaller laptop or mobile screens*/
@media screen and (max-width: 1600px) {
  #story {
    top: 0;
  }
  #passages {
    height: auto;
    max-height: none;
  }
}
@media screen and (max-height: 600px) {
  #story {
    top: 0;
  }
}

.passage {
  font-size: 2em;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: 1.5em;
}

h1 {
  font-size: 1.2em;
  font-weight: 200;
}

h2 {
  font-size: 1.1em;
  font-weight: 200;

}
b, strong {
  font-weight: normal;
  font-style: italic;
}

i {
  font-style: italic;
  color: #d6d6d6;
}

.passage a.link-internal {
  color: #007dc5;
  font-weight: none;
}

.passage a.link-internal:hover {
  color: #c60c46;
  text-decoration: none;
}



/*--------------------*/
/*      TOOLTIPS      */
/*--------------------*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.macro-cycle::before {
	content: "\e826\00a0";
	font-family: tme-fa-icons;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}



/*--------------------*/
/*        test        */
/*--------------------*/


/*
myriad pro and sans serif font family:

font-family: 'Myriad-Pro', 'Arial', sans-serif;
*/


/*
css above, html below (can put directly into twee file)

.aliens:hover {
  opacity: 0;
  transition: 1s all ease;
 }

<br>
There is a spooky UFO in the sky.
<br>
<div class="aliens">When you look at it, it disappears.</div>
<br>
But you're sure it's there.
*/

/*
@media(min-width:750px) {
  .W\(30\%\)--sm {
    width: 30%;
  }
}
*/